.idea
deployment/.env
deployment/backups
deployment/docker-compose.override.yml
deployment/volumes
deployment/sites-enabled/default.conf
deployment/docker-osm-healthcare/settings

__pycache__/

django_project/.pycharm_helpers/
celerybeat-schedule*