<footer id="colophon">
    <div class="container">
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-1">
                <li><a href="https://github.com/healthsites/healthsites/wiki/Vision" target="_blank">Vision</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Participate"
                       target="_blank">Participate</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Healthsites-roadmap" target="_blank">Road
                    map</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Healthsites---terms-of-use">Terms of
                    use</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Healthsites.io---ip-policy">IP policy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-2">
                <li><a href="https://github.com/healthsites/healthsites/wiki/Data" target="_blank">Data</a></li>
                <li><a href="https://github.com/healthsites/healthsites" target="_blank">Source code</a></li>
                {#                <li><a href="/map-edit">Map edit</a></li>#}
                <li><a href="https://github.com/healthsites/healthsites/wiki/Data-lifecycle" target="_blank">Data
                    lifecycle</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-2">
                {#  disabled for now - see #432 #}
                {#  <li><a href="upload-form">Upload form</a></li> #}
                <li><a href="https://gitter.im/healthsites/healthsites" target="_blank">Chat space</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/API" target="_blank">API</a></li>
                <li><a href="https://github.com/healthsites/healthsites/" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Memorandum-of-Understanding-and-Governance"
                       target="_blank">MoU's and Governance</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/healthsites---privacy-policy"
                       target="_blank">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3 right pad0x">
            <ul class="footer-nav-2 social">
                <li><a href="https://twitter.com/sharehealthdata" target="_blank"><i
                        class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.facebook.com/healthsites.io" target="_blank"><i
                        class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/healthsites-io?trk=biz-companies-cym" target="_blank"><i
                        class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://plus.google.com/u/2/117257570769390062756" target="_blank"><i
                        class="fa fa-google-plus-square"></i></a></li>
            </ul>
            <div style="text-align: right; font-style: italic"> version : {{ version }}</div>
        </div>
        <div style="clear:both;"></div>
        <div class="copy">

        </div>
    </div>
</footer>