<div id="locality-info" class="details" style="display: none">
    <div class="header">
        <h1>
            <span id="locality-name">No Name</span>
        </h1>
        <p class="sub" id="locality-amenity">first referral hospital</p>
    </div>
    <div class="info">
        <table style="width:100%">
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-info-circle"></i>
                </td>
                <td class="data updates">
                    <div class="more" style="margin-bottom: 5px">
                        <div>
                            last update: <span id="last_update" class="date">11 may 2015 17:23:15</span>, by
                            <span class="name">
                                    <a id="uploader" href="profile/sharehealthdata">@sharehealthdata</a>
                                </span>
                        </div>
                        <div id="full-list">
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:90%" id="locality-completeness">
                            90% Complete
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-map-marker"></i>
                </td>
                <td class="data find">
                    <p class="address" id="locality-physical-address">54, Praed st, London, W2 NY<br/>
                        Unighted Kingdom</p>
                    <p class="coordinates" id="locality-coordinates">lat: 0, long: 0</p>
                    <p>
                        <i class="fa fa-phone"></i>
                        <span id="locality-phone" class="call">0141 636 6116</span>
                        <span id="locality-phone-input" style="display: none">+
                                    <input type="number"
                                           id="locality-phone-input-int"
                                           style="width: 50px; margin-right: 5px"
                                           onkeypress="onKeyPress(this)"/>
                                    <input type="number"
                                           id="locality-phone-input-number"/>
                                </span>
                    </p>

                    <p id="locality-operating-hours-section">
                        <i class="fa fa-clock-o"></i>
                        <span id="locality-operating-hours" class="call">define operation</span>
                    </p>
                    <div id="locality-url">
                        <p class="url"><i class="fa fa-link"></i><span id="locality-url-content"><a href=""></a></span>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-tags"></i>
                </td>
                <td class="data services">
                    <div class="scope-of-service">
                        <h3>scope of service</h3>

                        <div id="locality-scope-of-service">
                        </div>
                    </div>
                    <div class="ancillary">
                        <h3>ancillary services</h3>

                        <div id="locality-ancillary-service">
                        </div>
                    </div>
                    <div class="activities">
                        <h3>activities</h3>

                        <div id="locality-activities">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-bed"></i>
                </td>
                <td class="data beds">
                    <div id="locality-inpatient-service"></div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-sticky-note"></i>
                </td>
                <td class="data note">
                    <div><strong>Note: </strong><span id="locality-notes-text"> Outpatient consultation and in-patient hospitalization</span></div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-user-md"></i>
                </td>
                <td class="data doctors">
                    <div id="locality-staff"></div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-briefcase"></i>
                </td>
                <td class="data ownership">
                    <p><strong>Ownership:</strong>
                        <span id="locality-ownership"></span></p>
                </td>
            </tr>
            <tr>
                <td valign="top" class="icon-holder">
                    <i class="fa fa-tag"></i>
                </td>
                <td class="data services">
                    <ul id="tag-data"></ul>
                </td>
            </tr>
            <tr id="others">
                <td valign="top" class="icon-holder">
                    <i class="fa fa-circle"></i>
                </td>
                <td class="data services">
                    <div id="other-tags-table">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>