{% load static %}
<div class="profile">
    {% if user.is_authenticated %}
        <div class="person col-xs-8 pad0x">
            <div class="avatar-holder">
                <img src="{% static "img/av-holder.svg" %}" class="frame" width="48" height="48"/>
                {% if user.social_auth.get.provider == "openstreetmap" %}
                    <img height="14" class="avatar-icon" src="{% static "img/osm-logo.png" %}" title="OpenStreetMap"/>
                {% elif user.social_auth.get.provider == "facebook" %}
                    <i class="fa fa-facebook-square avatar-icon"></i>
                {% elif user.social_auth.get.provider == "twitter" %}
                    <i class="fa fa-twitter-square avatar-icon"></i>
                {% endif %}
                {% if user.profile_picture == "" and not user.social_auth.get.extra_data.avatar %}
                    <img src="{% static "img/no-profile-img.gif" %}" width="48" height="48"/>
                {% elif user.social_auth.get.extra_data.avatar %}
                    <img src="{{ user.social_auth.get.extra_data.avatar }}" width="48" height="48"/>
                {% else %}
                    <img src="{{ user.profile_picture }}" width="48" height="48"/>
                {% endif %}
            </div>

            <span class="name">
                <a href="{% url 'userprofilepage' %}{{ user }}">{{ user.screen_name }}</a>
            </span>
        </div>
        <a href="{% url 'logout_user' %}" class="button col-xs-4 pad0x blue stroke"><i
                class="fa fa-sign-out"></i> sign out</a>
    {% else %}
        <div class="person col-xs-8 pad0x">
            <span class="name">
                You are not signed in
            </span>
        </div>
        <button id="signin-button" type="button" class="button col-xs-4 pad0x blue stroke" data-toggle="modal" data-target="#signInModal">
            <i class="fa fa-sign-in"></i> sign in
        </button>
    {% endif %}

    <div style="clear: both;"></div>
</div>