<div class="buttons col-md-4 col-sm-12 col-xs-12">
    <div class="button-wrapper col-xs-4">
        <div class="btn-group share">
            <button class="dropbtn button share stroke btn-share blue">Share</button>
            <button class="button share stroke btn-share-icon blue"><i style="font-weight: bolder" class="fa fa-angle-up"></i></button>
        </div>
        <div class="dropup-content">
            <a id="twitter_share_map">
                <i class="fa fa-twitter col-md-4"></i> <span>Twitter</span>
            </a>
            <a id="facebook_share_map">
                <i class="fa fa-facebook col-md-4"></i> <span>Facebook</span>
            </a>
        </div>
    </div>
    {% if user.provider == "openstreetmap" %}
        <div id="edit-healthsite" class="button-wrapper col-xs-4">
            <a class="button edit stroke blue">
                <i class="fa fa-pencil"></i> edit
            </a>
        </div>
        <div id="create-healthsite" class="button-wrapper col-xs-4">
            <a class="button add">
                <i class="fa fa-plus"></i> add new
            </a>
        </div>
        <div id="save-healthsite" class="button-wrapper col-xs-4" style="display: none">
            <a class="button edit stroke blue">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> save
            </a>
        </div>
        <div id="cancel-healthsite" class="button-wrapper col-xs-4" style="display: none">
            <a class="button edit stroke blue">
                <i class="fa fa-pencil"></i> cancel
            </a>
        </div>
    {% endif %}
</div>