<div id="locality-statistic" class="details" style="display: none">
    <div id="title-statistic" class="header" style="font-size: 24px; padding-bottom: 10px;">
        <strong id="title">Loading</strong> -
        <span id="locality-number" style="margin-left: 5px; margin-right: 5px">Loading</span>
        healthsites
    </div>
    <p id="country-shapefiles" class="header" style="padding-bottom: 10px; display: none">
    </p>

    <div style="padding: 20px">
        <div>
            <h3>Number of heathsites per type</h3>

            <div class="graph">
                <div id="chart"></div>

                <script>
                </script>
            </div>
        </div>
        <div>
            <h3>Completeness of attributes</h3>

            <div class="graph">
                <div id="piechart"></div>


            </div>
        </div>
        <div>
            <h3>Latest updates</h3>

            <div id="updates-wrapper" class="graph updates">
                <div class="entry">-</div>
            </div>
        </div>
    </div>
</div>