form {
    padding-top: 20px;
}

.container {
    margin-top: 90px;
}

p {
    margin: 0 0 20px 0;
}

label {
    display: block;
}

input {
    padding: 0.5rem;
    width: 100%;
}

.errorlist {
    color: red;
    list-style-type: none;
    padding-left: 0 !important;
}

.helptext {
    color: gray;
}