html {
    height: 100%;
    width: 100%;
}


body {
    padding-top: 50px;
    margin: 0;
    height: 100%;
    width: 100%;
}


#map {
    height: 100%;
    width: 100%;
}

#localityModal {
    right:30px;
    left:auto !important;
}
