@font-face {
    font-family: 'socicon';
    src: url('/static/fonts/socicon-webfont.eot');
    src: url('/static/fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/socicon-webfont.woff') format('woff'),
         url('/static/fonts/socicon-webfont.ttf') format('truetype'),
         url('/static/fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}

html {
    height: 100%;
    width: 100%;
}


body {
    padding-top: 50px;
    margin: 0;
    height: 100%;
    width: 100%;
}


#map {
    height: 100%;
    width: 100%;
}

#localityModal {
    right:30px;
    left:auto !important;
}

.marker-icon {
    width: 46;
    height: 42;
    background: url("/static/img/healthsite-cluster-marker.png");
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

.custom-navbar-item {
    font-size: 16px;
    text-transform: uppercase;
    color: #3f3f3f;
    margin-right: 15px;
    padding-top: 10px;
    line-height: 50px;
}

.custom-navbar-item:hover {
    text-decoration: none;
}

.navbar-custom {
    background-color: #e5e5e5 !important;
}

.navbar .navbar-brand {
    color: #3f3f3f !important;
    height: 50px !important;
    line-height: 28px !important
}

.tab-pane {
padding-top: 15px;
}


.control-label {
    text-transform: uppercase;
}

.medium-size-icon {
    font-size: 22px;
    margin-right: 5px;
}

.medium-size-icon:hover {
    color: #3f3f3f;
    cursor: pointer;
}

.modal-body-info {
    min-height: 300px;
}

.modal-info-information {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #333;
    height: 1px;
    margin: 0px 10px 0 10px;
    background-color: #FFF;
    overflow: hidden;
    z-index: 10000;
    padding-left: 15px;
    line-height: 14px;
}

.modal-info-social {
    width: 22px;
    height: 25px;
    overflow: hidden;
}

.modal-info-social img{
    vertical-align: top;
}

.modal-info-expanded {
    border-bottom: 1px solid #333;
    z-index: 10000;
}

.modal-info-status {
    margin-bottom: 10px;
}

.modal-info-status a {
    cursor: pointer;
    text-decoration: none;
}


.label-status {
    border-bottom: dotted 1px;
}

.navbar-brand a {
    text-decoration: none;
}

#site-social {
    width: 22px;
    height: 23px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}


.nl-form {
    margin-right: 15px;
    text-transform: uppercase;
}

.nl-form a:hover {
    text-decoration: none;
    color: #3f3f3f;
}

.nl-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nl-form input,
.nl-form select,
.nl-form button {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nl-form input:focus {
    outline: none;
}

.nl-field {
    display: inline-block;
    position: relative;
}

.nl-field.nl-field-open {
    z-index: 10000;
}


.nl-field-toggle,
.nl-form input,
.nl-form select  {
    line-height: inherit;
    display: inline-block;
    color: #b14943;
    cursor: pointer;
    border-bottom: 1px dashed #b14943;
}

.nl-field ul {
    position: absolute;
    visibility: hidden;
    background: #e5e5e5;
    left: -0.5em;
    top: 50%;
    font-size: 80%;
    opacity: 0;
    transform: translateY(-40%) scale(0.9);
    transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) scale(1.5);
    transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
    color: #3f3f3f;
    position: relative;
}

.nl-dd ul li {
    padding: 0 1.5em 0 0.5em;
    cursor: pointer;
    white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
    color: #000;
}

.no-touch .nl-dd ul li:hover {
    background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
    color: #478982;
}

