/* About

-------------------------------------------------- */
.about {
    font-family: "Raleway", sans-serif;
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
}

.about h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.about .icon {
    text-align: right;
}

.about .block {
    margin-bottom: 20px;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    .about {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .about .block, .about .icon {
        text-align: center;
    }

    .about .block {
        margin-bottom: 40px;
    }

    .about .icon {
        margin-bottom: 20px;
    }
}

/* PROFILE CSS
-------------------------------------------------- */
.center {
    margin-right: auto;
    margin-left: auto;
}

.clear {
    float: none;
}

.profile-header {
    margin-bottom: 20px;
}

.left-side {
    width: 300px;
    margin-right: 20px;
    float: left;
    padding: 30px;
}

.profile-image-size {
    width: 200px;
    border: 1px solid #000000;
}

.profile-image {
    max-width: 100%;
}

.right-side {
    width: 100%;
}

#api-keys-section {
    margin-top: 10px;
    border: 1px solid #f44a52;
    padding: 10px;
    color: #f44a52;
}

#api-keys-section div {
    opacity: 0.7;
    border: 1px solid #3C4C57;
    background-color: #3C4C57;
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin-top: 3px;
}

.profile-image-icon {
    float: left;
    position: absolute;
    background-color: white;
    padding: 5px;
    font-size: 30px;
    border-bottom-right-radius: 5px;
}

.migration-info {
    z-index: 1500;
    color: white;
    position: absolute;
    background-color: #3c4c57;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.migrate-btn-wrapper {
    position: absolute;
    margin-top: 20px;
    z-index: 1500;
}

.btn-migrate {
    background-color: #53a453 !important;
    font-weight: bold;
    padding: 0 6px !important;
}

.btn-migrate:hover {
    opacity: 0.7;
}

.loading-icon {
    position: absolute;
    left: -20px;
    top: 10px;
}
