#container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 350px;
    width: 700px;
}

h1 {
    font-size: 48.5px;
    letter-spacing: -3px;
    font-weight: 700;
    margin-bottom: 30px;
}

h2 {
    font-size: 48.5px;
    color: rgba(0, 0, 0, .2) !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.btn {
    margin-top: 40px;
    background-color: #f44a52 !important;
    border-color: #f44a52 !important;
}

.btn:hover {
    background-color: #f7676c !important;
    border-color: #f44a52 !important;
}