/** Contact **/
.panel {
    background-color: #fcfcfc;
}
.panel-info {
    border-color: #bcbcbc;
}
.panel-info > .panel-heading {
    background-color: #d9dde0;
    border-color: #bfc1c3;
    color: #3c4c57;
    font-weight: bold;
}
.panel-title {
  font-weight: bold;
}
form, table, fieldset, tr, td, tbody {
    width: 100%;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
input, textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid #bfc1c3;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
input:focus, textarea:focus {
    border: 1px solid #f44a52;
}
form label {
    margin-right: 10px;
}
form input[type="submit"] {
    width: auto;
    border: none;
    color: #fff;
    background: #3c4c57;
    line-height: 28px;
}