#map-full {
	background: #eff0f0;
}
.location-info {
	background: #fff;
	padding-top: 53px;
	font-family: "Raleway", sans-serif;
	color: #3c4c57;
	padding-bottom: 64px;
}
.location-info .profile, .location-info .header {
	padding: 0 20px;
}
.location-info .profile {
	background: #eff0f0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.avatar-holder {
	display: inline-block;
	height: 48px;
	width: 48px;
	position: relative;
	margin-right: 10px;
}
.frame {
	position: absolute;
	top: 0;
	left: 0;
}
.location-info .profile .name, .location-info .profile .name a {
	text-transform: uppercase;
	font-weight: 600;
	color: #3c4c57;
}
.details .header {
	padding-top: 18px;
	border-bottom: 1px solid #eff0f0;
}
.details h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}
.details .sub {
	color: #737c83;
}
.location-info {
	position: relative;
}
.location-info .icon-holder {
	float: left;
	width: 53px;
	text-align: center;
	padding: 10px 0;
}
.location-info .icon-holder i {
	color: #afb4b7;
	font-size: 21px;
}
.location-info .data {
	margin-left: 48px;
	background: #f9f9f9;
	padding: 10px 20px 1px;
	font-family: "Ubuntu", sans-serif;
}
.details .line {
	border-bottom: 1px solid #eff0f0;
	clear: both;
}
.updates p {
	font-style: italic;
	color: #919393;
}
.updates .date, .updates a {
	font-weight: 500;
	color: #3c4c57;
}
.updates .full-list {
	display: block;
}
.find .address {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}
.find .coordinates {
	font-style: italic;
	color: #919393;
}
.find .data i {
	font-size: 18px;
	margin-right: 4px;
}
.find .call {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}
.find .call .hours {
	margin-left: 20px;
}
.find .url {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0;
}
.find .url:last-child {
	margin-bottom: 10px;
}
.services h3 {
	margin-top: 0;
	font-style: italic;
	color: #919393;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
}
.services ul {
	padding: 0;
	max-width: 310px;
}
.services li {
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
}
.services li i {
	margin-right: 3px;
}
.beds p, .doctors p {
	font-size: 16px;
}
.location-info .buttons {
	position: fixed;
	bottom: 0;
	padding: 10px;
	background: #fff;
}
.buttons .button {
	display: block;
}
.map-page {
	position: relative;
	margin-top: 53px;
}
#map {
	background: #c8e6ff;
	position: fixed;
	top: 53px;
	right: 0;
	width: 100%;
}
@media only screen and (max-width:991px) {
.map-page {
	background: #c8e6ff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
}
#map {
	position: relative;
	top: 0;
}
}

.marker-icon {
    width: 48px;
    height: 46px;
    background: url("/static/img/healthsite-cluster-marker.png");
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}