{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block title %}Healthsites{% endblock %}

{% block content %}
    {% if old_data_available and not data_migration_in_progress %}
        <div class="migration-info">We are migrating all data into OSM data, thus your healthsites data will not be displayed on the map. Please migrate your data into OSM data by clicking on
            <button class="btn btn-primary btn-migrate" title="in development" disabled>Migrate</button>
            .
            <span class="pull-right" style="margin-right: 20px; cursor: pointer" onclick="$('.migration-info').remove()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
    {% endif %}
    <section class="white container">
        <div class="col-sm-4 user-profile">
            <div class="profile-image-size">
                {% if user.social_auth.get.provider == "openstreetmap" %}
                    <img style="height: 40px" class="profile-image-icon" src="{% static "img/osm-logo.png" %}"/>
                {% endif %}
                {% if user.provider %}
                    {% if user.provider == "facebook" %}
                        <a href="https://www.facebook.com/{{ social.user_link }}" target="_blank"><i
                                class="fa fa-facebook-square profile-image-icon"></i></a>
                    {% elif user.provider == "twitter" %}
                        <a href="https://twitter.com/{{ social.uid }}" target="_blank"><i
                                class="fa fa-twitter-square profile-image-icon"></i></a>
                    {% endif %}
                {% endif %}
                {% if user.profile_picture == "" %}
                    <img src="{% static "img/no-profile-img.gif" %}" width="100%"/>
                {% else %}
                    <img src="{{ user.profile_picture }}" width="100%"/>
                {% endif %}
            </div>
            <div class="name" style="font-size: 24px">
            </div>
            <div class="profile-header">
                <h1>{{ user.screen_name }}</h1>
            </div>
            {% if user.is_trusted_user %}
                <div class="status">
                    <span>trusted user</span>
                </div>
            {% endif %}
            <div class="name">
                <strong>name :</strong>
                {% if user.get_full_name == "" %}
                    -
                {% else %}
                    {{ user.get_full_name }}
                {% endif %}
                {% if osm_user %}
                    <img src="{% static "img/osm-logo.png" %}" height="20px" data-toggle="tooltip" data-placement="top" title="OSM User"/> OSM User
                {% endif %}
            </div>
            {% if user.is_trusted_user %}
                <div class="name">
                    <strong>organisation :</strong>
                    <span id="organization-list">
                    {% if user.organisations %}
                        {% for org in user.organisations %}
                            {% if org.website %}
                                <a href="{{ org.website }}">{{ org.name }}</a>,
                            {% else %}
                                {{ org.name }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                </div>
                <div class="name">
                    <strong>organisations supported :</strong>
                    <span id="organization-list">
                    {% if user.organisations_supported %}
                        {% for org in user.organisations_supported %}
                            {% if org.website %}
                                <a href="{{ org.website }}">{{ org.name }}</a>,
                            {% else %}
                                {{ org.name }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                </div>
            {% endif %}
            {% if api_keys %}
                <div id="api-keys-section">
                    <strong>Your API KEYS</strong>
                    <br>
                    {% for api_key in api_keys %}
                        <div>{{ api_key }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-8 profile-graphs">
            <h3>Latest updates</h3>

            <div id="updates-wrapper">
                <div id="updates-99" class="graph updates">
                    <div class="entry">-</div>
                </div>
            </div>
            <div class="nav-updates"><a class="prev opacity-7" onclick="changePage(this)">< view previous</a>
                <a class="next opacity-7" onclick="changePage(this)">view
                    next ></a></div>
            <br>
            <div id="pending" style="display: none">
                <h3>Pending updates</h3>

                <div id="pending-wrapper">
                    <div class="graph updates">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if data_migration_in_progress or old_data_available %}
        <section>
            <div id="migration-progress-bar-wrapper" class="container" style="display: none">
                <h5>Data migration progress:</h5>
                <div class="progress">
                    <div id="migration-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        0%
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}

{% block extra_js %}
    <script>
        var interval;
        var osmURL = "{{ osm_API }}";

        function migrateClicked() {
            $('.loading-icon').show();
            $.ajax({
                url: '{% url "migrate-user-data" user.username %}',
                success: function (data) {
                    $('.migration-info').hide();
                    $('.migrate-btn-wrapper').hide();
                    $('#migration-progress-bar-wrapper').show();
                    interval = setInterval(getMigrationProgress, 250);
                }
            })
        }

        function getMigrationProgress() {
            $.ajax({
                url: '{% url "api_get_migration_progress" %}',
                data: {
                    username: "{{ user.username }}"
                },
                success: function (data) {
                    var progress = Math.round((data['count'] / data['total']) * 100);
                    $('#migration-progress-bar').css('width', progress + '%').html(progress + '% Complete')

                    if (progress === 100) {
                        clearInterval(interval)
                    }
                },
                error: function (data) {
                    clearInterval(interval)
                }
            })
        }

        $(document).ready(function () {
            if ('{{ data_migration_in_progress }}' === 'True') {
                $('#migration-progress-bar-wrapper').show();
            }
            var $updates99 = $("#updates-99");
            var $updatesWrappeer = $("#updates-wrapper");
            $.ajax({
                url: "/api/v2/user/{{ user.username }}/changesets",
                dataType: 'json',
                success: function (data) {
                    if ($updates99.length > 0 && data.length !== 0) {
                        $updatesWrappeer.html("");
                    }
                    $.each(data, function (i, update) {
                        var page = parseInt(i / 10);
                        var $page = $("#updates-" + page);
                        if ($page.length === 0) {
                            $updatesWrappeer.append('<div id="updates-' + page + '" class="graph updates"></div>');
                            $page = $("#updates-" + page);
                            if (page !== 0) {
                                $page.hide();
                            }
                        }
                        var html = "<div class=\"entry\">";
                        html += "<div class=\"entry\">";
                        html += "<span class=\"date\">" + getDateString(update.changeset_timestamp) + "</span> - ";
                        html += "<span class=\"name\">";
                        html += "<a href=\"profile/" + update.changeset_user + "\">@" + update.changeset_user + "</a></span> - ";
                        var mode = "added";
                        if (update.changeset_version > 1) {
                            mode = "amended";
                        }

                        //{# update the html #}
                        html += "<a href=\"/map#!/locality/" + update.uuid + "\" class=\"location-name\">" + update.name + "</a>";
                        html += "<span class=\"location-name\"> " + mode + " </span>";
                        html += "</div>";
                        $page.append(html);
                    });
                    updateButton();
                }
            });

            $.ajax({
                url: "/api/v2/user/{{ user.username }}/pending",
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#pending').show();
                        var $wrapper = $('#pending').find('.graph');
                        $.each(data, function (index, value) {
                            var html = "<div class=\"entry\">";
                            html += "<div class=\"entry\">";
                            html += "<span class=\"date\">" + getDateString(value.time_uploaded) + "</span> - ";
                            html += "<span class=\"name\">";
                            html += "<a href=\"profile/" + value.uploader + "\">@" + value.uploader + "</a></span> - ";
                            html += "<a href='" + osmURL + "/" + value.osm_type + "/" + value.osm_id + "'>" + value.osm_name + "</a>";
                            html += "</div>";
                            $wrapper.append(html);
                        });
                    }

                }
            });

            interval = setInterval(getMigrationProgress, 250);

        });
    </script>
{% endblock extra_js %}