{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block title %}Healthsites{% endblock %}

{% block content %}
    {% if old_data_available and not data_migration_in_progress %}
        <div class="migration-info">We are migrating all data into OSM data, thus your healthsites data will not be displayed on the map. Please migrate your data into OSM data by clicking on <button class="btn btn-primary btn-migrate" onclick="migrateClicked()">Migrate</button>.</div>
    {% endif %}
    <section class="white container">
        <div class="col-sm-4 user-profile">
            <div class="profile-image-size">
                {% if user.social_auth.get.provider == "openstreetmap" %}
                    <img style="height: 40px" class="profile-image-icon" src="{% static "img/osm-logo.png" %}"/>
                {% endif %}
                {% if user.social %}
                    {% for social in user.social %}
                        {% if social.provider == "facebook" %}
                            <a href="https://www.facebook.com/{{ social.user_link }}" target="_blank"><i
                                    class="fa fa-facebook-square profile-image-icon"></i></a>
                        {% endif %}
                        {% if social.provider == "twitter" %}
                            <a href="https://twitter.com/{{ social.uid }}" target="_blank"><i
                                    class="fa fa-twitter-square profile-image-icon"></i></a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if user.profile_picture == "" and not user.social_auth.get.extra_data.avatar %}
                    <img class="profile-image" src="{% static "img/no-profile-img.gif" %}"/>
                {% elif user.social_auth.get.extra_data.avatar %}
                    <img class="profile-image" src="{{ user.social_auth.get.extra_data.avatar }}"/>
                {% else %}
                    <img class="profile-image" src="{{ user.profile_picture }}"/>
                {% endif %}
            </div>
            <div class="name" style="font-size: 24px">
            </div>
            <div class="profile-header">
                <h1>{{ user.screen_name }}</h1>
            </div>
            {% if user.is_trusted_user %}
                <div class="status">
                    <span>trusted user</span>
                </div>
            {% endif %}
            <div class="name">
                <strong>name :</strong>
                {% if user.get_full_name == "" %}
                    -
                {% else %}
                    {{ user.get_full_name }}
                {% endif %}
                {% if osm_user %}
                    <img src="{% static "img/osm-logo.png" %}" height="20px" data-toggle="tooltip" data-placement="top" title="OSM User"/> OSM User
                {% endif %}
            </div>
            {% if user.is_trusted_user %}
                <div class="name">
                    <strong>organisation :</strong>
                    <span id="organization-list">
                    {% if user.organisations %}
                        {% for org in user.organisations %}
                            {% if org.website %}
                                <a href="{{ org.website }}">{{ org.name }}</a>,
                            {% else %}
                                {{ org.name }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                </div>
                <div class="name">
                    <strong>organisations supported :</strong>
                    <span id="organization-list">
                    {% if user.organisations_supported %}
                        {% for org in user.organisations_supported %}
                            {% if org.website %}
                                <a href="{{ org.website }}">{{ org.name }}</a>,
                            {% else %}
                                {{ org.name }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                </div>
            {% endif %}
            {% if api_keys %}
                <div id="api-keys-section">
                    <strong>Your API KEYS</strong>
                    <br>
                    {% for api_key in api_keys %}
                        <div>{{ api_key }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-8 profile-graphs">
            <h3>Latest updates</h3>

            <div id="updates-wrapper">
                <div id="updates-99" class="graph updates">
                    <div class="entry">-</div>
                </div>
            </div>
            <div class="nav-updates"><a class="prev opacity-7" onclick="changePage(this)">< view previous</a>
                <a class="next opacity-7" onclick="changePage(this)">view
                    next ></a></div>
        </div>
    </section>
    {% if data_migration_in_progress or old_data_available %}
        <section>
        <div id="migration-progress-bar-wrapper" class="container" style="display: none">
            <h5>Data migration progress:</h5>
            <div class="progress">
                <div id="migration-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0%
                </div>
            </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}

{% block extra_js %}
    <script>
        var interval;
        function migrateClicked() {
            $('.loading-icon').show();
            $.ajax({
                url: '{% url "migrate-user-data" user.username %}',
                success: function (data) {
                    $('.migration-info').hide();
                    $('.migrate-btn-wrapper').hide();
                    $('#migration-progress-bar-wrapper').show();
                    interval = setInterval(getMigrationProgress, 250);
                }
            })
        }

        function getMigrationProgress() {
            $.ajax({
                url: '{% url "api_get_migration_progress" %}',
                data: {
                    username: "{{ user.username }}"
                },
                success: function (data) {
                    var progress = Math.round((data['count']/data['total']) * 100);
                    $('#migration-progress-bar').css('width', progress + '%').html(progress + '% Complete')

                    if(progress === 100){
                        clearInterval(interval)
                    }
                },
                error: function (data) {
                    clearInterval(interval)
                }
            })
        }

        $(document).ready(function () {
            if('{{ data_migration_in_progress }}' === 'True'){
                $('#migration-progress-bar-wrapper').show();
            }

            $.ajax({
                url: "{% url 'user-updates' %}",
                dataType: 'json',
                data: {
                    user: "{{ user.username }}"
                },
                success: function (data) {
                    if ($("#updates-99").length > 0) {
                        $("#updates-wrapper").html("");
                    }
                    if (data.last_update.length > 0) {
                        for (var i = 0; i < data.last_update.length; i++) {
                            var page = parseInt(i / 10);
                            var wrapper = $("#updates-" + page);
                            if (wrapper.length > 0) {

                            } else {
                                $("#updates-wrapper").append('<div id="updates-' + page + '" class="graph updates"></div>');
                                wrapper = $("#updates-" + page);
                                if (page != 0) {
                                    wrapper.hide();
                                }
                            }
                            var update = data.last_update[i];
                            var html = "<div class=\"entry\">";
                            html += "<div class=\"entry\">";
                            html += "<span class=\"date\">" + getDateString(update.date_applied) + "</span> - ";
                            html += "<span class=\"name\">";
                            html += "<a href=\"/profile/" + update.author + "\">@" + update.author_nickname + "</a></span> - ";
                            var mode = "";
                            if (update.mode == 1) {
                                mode = "added";
                            } else {
                                mode = "amended";
                            }
                            {# update the html #}
                            if (update.data_count == 1) {
                                html += "<a href=\"/map#!/locality/" + update.locality_uuid + "\" class=\"location-name\">" + data.last_update[i].locality + "</a>";
                                html += "<span class=\"location-name\"> " + mode + " </span>";
                            } else {
                                html += "<span class=\"location-name\">" + data.last_update[i].data_count + " HS/" + mode + "</span>";
                            }
                            html += "</div>";
                            wrapper.append(html);
                        }
                        updateButton();
                    }
                }
            });

            interval = setInterval(getMigrationProgress, 250);

        });
    </script>
{% endblock extra_js %}