{% extends 'base.html' %}

{% block title %}Healthsites{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url "map" %}";
        </script>
    {% endif %}
    <section class="white container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sign in</h2>
                    <h4>Please sign in with open street map account.</h4>

                    <p class="text-warning">All feature under healthsites are using Open Street Map.
                        It is used for user to be able to create/edit data into Open Street Map.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 social">
                    <a href="{% url 'social:begin' 'openstreetmap' %}?next=/map" class="btn btn-primary">Open Street Map</a>
{#                    <a href="{% url 'social:begin' 'github' %}?next=/map" class="btn btn-primary">Github</a>#}
{#                    <a href="{% url 'social:begin' 'twitter' %}?next=/map" class="btn btn-primary">Twitter</a>#}
{#                    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/map" class="btn btn-primary">Google</a>#}
{#                    <a href="{% url 'social:begin' 'facebook' %}?next=/map" class="btn btn-primary">Facebook</a>#}
{#                    <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next=/map" class="btn btn-primary">LinkedIn</a>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
