{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block title %}Healthsites{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url "map" %}";
        </script>
    {% endif %}
    <section class="white container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sign in</h2>
                    <h4>Please sign in with one of your existing third party accounts.</h4>

                    <p class="text-warning"><span class="label label-warning">Important!</span> If you have already
                        connected a 3rd party service, first login using that service and then add more authorisation
                        options on profile page</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 social">
{#                    <a href="{% url 'social:begin' 'openstreetmap' %}?next=/map" class="btn btn-primary">OSM</a>#}
{#                    <a href="{% url 'social:begin' 'github' %}?next=/map" class="btn btn-primary">Github</a>#}
                    <a href="{% url 'social:begin' 'twitter' %}?next=/map" class="btn btn-primary">Twitter</a>
{#                    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/map" class="btn btn-primary">Google</a>#}
                    <a href="{% url 'social:begin' 'facebook' %}?next=/map" class="btn btn-primary">Facebook</a>
{#                    <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next=/map" class="btn btn-primary">LinkedIn</a>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
