{% extends 'base.html' %}
{% load envelope_tags %}

{% block title %}Healthsites{% endblock %}

{% block content %}

    <section class="container">
    <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Share healthsite data</h3></div>
        <div class="panel-body">
            <p>Please use the form below to get in contact with us.</p>
            <p>We'd love to hear your ideas and feedback on how to make healthsites.io better!</p> 
        </div>
    </div>
        {% render_contact_form %}

    {% if messages %}
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Messages for you!</h3></div>
        <div class="panel-body">
        {% for message in messages %}
            <div {% if message.tags %} class="text-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        </div>
    </ul>
    {% endif %}
    </div>
    </section>

{% endblock %}
