{% extends 'base.html' %}
{% load envelope_tags %}
{% block title %}Healthsites{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/contact.css">/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
{% endblock stylesheet %}

{% block content %}

    <section class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Share healthsite data</h3></div>
                <div class="panel-body">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "success" %}
                                <div {% if message.tags %} class="text-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </div>
                            {% else %}
                                <p>Please use the form below to get in contact with us.</p>
                                <p>We'd love to hear your ideas and feedback on how to make healthsites.io better!</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Please use the form below to get in contact with us.</p>
                        <p>We'd love to hear your ideas and feedback on how to make healthsites.io better!</p>
                    {% endif %}
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags != "success" %}
                        {% render_contact_form %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% render_contact_form %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags != "success" %}
                        <div id="panel-info" class="panel panel-info">
                            <div class="panel-heading"><h3 class="panel-title">Messages for you!</h3></div>
                            <div class="panel-body">
                                <div {% if message.tags %} class="text-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
    </section>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $("#id_message").removeAttr("cols");
            var submit = $("input[type='submit']");
            var submit_parent = $(submit).closest('td');
            {#            $(submit_parent).removeAttr("colspan");#}
            {#            $(submit_parent).before("<th></th>");#}
        })
    </script>
{% endblock extra_js %}