{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block title %}Healthsites{% endblock %}

{% block content %}

    <h1 id="title">Search</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search"/>
    </form>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                function log(message) {
                    alert(message);
                }

                $("#id_geoname").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "http://gd.geobytes.com/AutoCompleteCity",
                            dataType: "jsonp",
                            data: {
                                q: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 3,
                    select: function (event, ui) {
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({'address': $('#id_geoname').val()},
                                function (results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        var lat = results[0].geometry.location.lat();
                                        var lng = results[0].geometry.location.lng();

                                        log(ui.item ?
                                        "Selected: " + ui.item.label + '(' + lat + ',' + lng + ')':
                                        "Nothing selected, input was " + this.value);

                                    } else {
                                        alert("Something got wrong with location " +
                                                "autocomplete." + status);
                                    }
                                });

                    },
                    open: function () {
                        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                    },
                    close: function () {
                        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                    }
                });
            });
        });
    </script>
{% endblock extra_js %}