Django>=1.8,<1.9
psycopg2
pytz
django-braces
django-model-utils
django-pipeline>=1.4
nodeenv
raven
python-social-auth
django-pg-fts
django-forms-bootstrap
celery
googlemaps
django-grappelli
django_hashedfilenamestorage