django-nose
coverage
pep8
pylint
flake8
factory_boy

django-devserver

# behaviour-driven tests
behave==1.2.6

# documentation
Sphinx

# pdb plus plus
pdbpp

# mock
mock

# ssl server localhost
django-sslserver==0.22