<html xmlns="http://www.w3.org/1999/html">
  <head>
  </head>
  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">About Healthsites</h4>
    </div>
    <div class="modal-body">
    <p>
    Healthsites is a framework for capturing, publishing and sharing critical
    health and sanitation related data to help make these facilities more
    accessible and relevant to the communities they serve. Our framework does
    not limit our endeavours to these domains and in the future we plan to
    support additional domains where it is helpful in humanitarian work.
    </p>

    <p></p><strong>License</strong></p>

    <p>Data: <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open
      Database License</a></p>
    <p>Code: <a href="http://www.freebsd.org/copyright/freebsd-license.html">
        Free BSD License</a></p>

    <p>
    Out intention is to foster wide spread usage of the data and the code that we
    provide. Please use this code and data in the interests of humanity and not
    for nefarious purposes.
    </p>

    <p></p><strong>Sponsors</strong></p>

    <p>This site was developed by Konektaz, Kartoza and Candela-IT. Please consider joining in our
    work if you have something to contribute.</p>
    
    <p>This site was developed by Konektaz, Kartoza and Candela-IT. Please consider joining in our
    work if you have something to contribute.</p>

    </div><!-- /model-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div><!-- /modal-footer -->
  </body>
</html>
