<html xmlns="http://www.w3.org/1999/html">
  <head>
  </head>
  <body>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">About Healthsites</h4>
    </div>
    <div class="modal-body">
    <p>
    The Global Healthsites Mapping Project is an initiative to create an online map of every health facility in the world.
The framework has been built for capturing, publishing and sharing critical health and sanitation related data and to help make these facilities more accessible and relevant to the communities they serve. In the future we plan to support additional domains where it is helpful in humanitarian work.
    </p>

<p>
The map will record the contact details, location and resources available at every hospital, health post and rural healthcare clinic.
No such healthsite data currently exists. We are making the data freely available to anyone via the Internet.
</p>

<p>
By simply clicking on the map users can drill in to learn what healthcare facilities exist at any global location
and find out what resources exist at any individual healthcare facility.
</p>

<p>
The Healthsite Map will be of great value to members of the public, to health ministries and healthcare providers, and will be invaluable to first responders in emergency relief, disease epidemic and crisis situations.
</p>



    <p></p><strong>License</strong></p>

    <p>Data: <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open
      Database License</a></p>
    <p>Code: <a href="http://www.freebsd.org/copyright/freebsd-license.html">
        Free BSD License</a></p>

    <p>
    Out intention is to foster wide spread usage of the data and the code that we
    provide. Please use this code and data in the interests of humanity and not
    for nefarious purposes.
    </p>

    <p></p><strong>Development to date</strong></p>

    <p>This site was developed by Konektaz, Kartoza and Candela-IT. Please consider joining in our
    work if you have something to contribute.</p>

    <p>
We are currently completing the mapping of healthcare facilities in Sierra Leone, Liberia, Guinea in cooperation with the Standby Task Force, The British Red Cross, Humanitarian Open Streetmap, Medecins Sans Frontieres and Save the Children.
</p>

<p>
We are seeking sponsorship to fund the ongoing development of the map. Sponsors could include Medical Industry, NGO communities, Donor funds, Commercial partners. Please get in contact should you be interested in supporting healthsites.io
</p>

<iframe src="https://docs.google.com/forms/d/12pdVlUib92ytls3pgKdqqUZrWhgSUaCgntA6r9o2EEk/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    <a href="http://uk.linkedin.com/in/markherringer">

          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Mark Herringer's profile on LinkedIn">

    </a>

    </div><!-- /model-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div><!-- /modal-footer -->
  </body>
</html>
