{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{% trans "About Healthsites" %}</h4>
</div>
<div class="modal-body">
    <p>
        {% trans "about_paragraph_1"%}
    </p>

    <p>
        {% trans "about_paragraph_2"%}
    </p>

    <p>
        {% trans "about_paragraph_3"%}
    </p>

    <p>
        {% trans "about_paragraph_4"%}
    </p>

    <p></p><strong>{% trans "License"%}</strong></p>
    <p>{% trans "Data:"%} <a href="http://opendatacommons.org/licenses/odbl/1.0/">
      {% trans "Open Database License"%}</a></p>

    <p>{% trans "Code:"%} <a href="http://www.freebsd.org/copyright/freebsd-license.html">
        {% trans "Free BSD License"%}</a></p>

    <p>{% trans "Content:"%} <a href="https://creativecommons.org/licenses/by/4.0/ ">
        {% trans "Attribution 4.0 International"%} </a></p>

    <p>
        {% trans "about_intention"%}
    </p>

    <p>{% trans "To share data please tweet a link to"%} <a href="https://twitter.com/sharehealthdata">@sharehealthdata</a> {% trans "or
        contact us using the form below."%}</p>

    <p><strong>{% trans "Development to date"%}</strong></p>

    <p>{% trans "about_developed_by"%}</p>
    <table>
        <tr>
            <td>
                <iframe src="http://ghbtns.com/github-btn.html?user=healthsites&repo=healthsites&type=watch&count=true"
                        height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;"
                        allowTransparency="true"></iframe>
            </td>
            <td>
                <iframe src="http://ghbtns.com/github-btn.html?user=healthsites&repo=healthsites&type=fork&count=true"
                        height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;"
                        allowTransparency="true"></iframe>
            </td>
            <td>
                <iframe src="http://ghbtns.com/github-btn.html?user=healthsites&type=follow&count=true" height="30"
                        width="168" frameborder="0" scrolling="0" style="width:168px; height: 30px;"
                        allowTransparency="true"></iframe>
            </td>
        </tr>
    </table>
    <p>

    </p>

    <p>
        {% trans "about_sponsors"%}
    </p>

    <p>
        <a href="http://uk.linkedin.com/in/markherringer">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80"
                 height="15" border="0" alt="View Mark Herringer's profile on LinkedIn">
        </a>
    </p>

    <div>
        <iframe width="100%" height="638px"
                src="https://docs.google.com/forms/d/12pdVlUib92ytls3pgKdqqUZrWhgSUaCgntA6r9o2EEk/viewform?embedded=true">
            {% trans "Loading..."%}
        </iframe>
    </div>
</div><!-- /model-body -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close"%}</button>
</div><!-- /modal-footer -->
</body>
</html>
