{% extends 'base.html' %}
{% load pipeline %}
{% load static %}

{% block title %}Healthsites{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/attributions.css">/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
{% endblock stylesheet %}

{% block content %}
    <section class="white container">
        {# HTML BODY #}
    </section>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            {# JAVASCRIPT #}
        });
    </script>
{% endblock extra_js %}