{% load pipeline %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}

    <title>Healthsites.io</title>

    <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet" type="text/css"
          media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" rel="stylesheet"
          type="text/css" media="screen, projection"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css" media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" type="text/css"
          media="screen, projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet"
          type="text/css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>

    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700,500,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,300,500,700' rel='stylesheet'
          type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"
          media="screen, projection"/>


    {% stylesheet 'project' %}
    {% stylesheet 'home' %}

    {# HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries  #}
    {# WARNING: Respond.js doesn't work if you view the page via file://  #}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body home">
<nav id="navbar-wrapper" class="navbar navbar-fixed-top masthead">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <button type="button" class="search-toggle collapsed"><span class="sr-only">Search</span><a
                    class="navbar-search" href="#"><i class="fa fa-search"></i></a></button>
            <a class="navbar-brand" href="#"><span class="hs-logo"></span>healthsites.io</a>
            <a class="navbar-share closed" href="#"><img class="share" src="static/img/share.svg" width="20"/><img
                    class="close" src="static/img/close.svg" width="16"/></a>

            <div class="hidden" id="site-social">
                <i class="medium-size-icon mdi-content-clear" id="site-social-icon-open"></i>
                <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                   class="withripple twitter-href">
                    <i class="fa fa-twitter"></i></a>
                <a class="facebook-hs-share withripple facebook-href">
                    <i class="fa fa-facebook"></i></a>
                <a class="googleplus-href" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <i class="fa fa-google-plus"></i>

                </a>
            </div>
            <span class="tagline">A free, curated, global, canonical source of healthcare location data</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
                <li><a target="_blank" href="/map">Map</a></li>
                <li><a href="#map-data">Country data</a></li>
                <li><a href="#lifecycle">How it works</a></li>
                <li><a href="#cta">Share data</a></li>
                <li><a href="#partners">Partners</a></li>
                <li class="nav-search-wrap"><a class="navbar-search" href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="https://gitter.im/healthsites/healthsites" class="navbar-chat" target="_blank"><i
                        class="fa fa-comments"></i></a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->

    </div>
    <div class="nav-searchbar container-fluid">
        <form action="map" method="POST">
            <div class="option-group">
                <div class="option"><span></span><input type="radio" name="option" id="radio-healthsite"
                                                        value="healthsite" checked><span></span><label class="option"
                                                                                                       for="radio-healthsite">healthsite</label>
                </div>
                <div class="option"><span></span><input type="radio" name="option" id="radio-place"
                                                        value="place"><span></span><label class="option"
                                                                                          for="radio-healthsite">place</label>
                </div>
            </div>
            <input id="search-box" type="search" name="q" placeholder="search..."><input type="submit" value="search">
        </form>
    </div>
</nav>
<section id="tophome" class="slideshow js-fullheight fluid-container">
    <div class="slideshow-container limiter pin-top pin-bottom clearfix">
        <div class="z1 slideshow-text pad4y col-md-4 prose prose-big dark">
            <h2 class="fancy "><span class="timer" data-speed="2500"
                                     data-to="{{ locality_count }}">{{ locality_count }}</span><br/>
                healthsites added</h2>

            <div class="cta col-md-12 clearfix pad0x">
                <div class="col-xs-6 hide-mobile pad0x"><a target="_blank" href="/map"
                                                           class="col-xs-11 button white pad0x">see the
                    map</a></div>
                <div class="col-xs-6 pad0x"><a href="#lifecycle" class="col-xs-11 button stroke pad0x">how it works</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="isopad">
                <div class="pin pin-1"></div>
                <div class="pin pin-2"></div>
                <div class="pin pin-3"></div>
                <div class="pin pin-4"></div>
                <img src="static/img/isometric-ipad@2x.png" width="710" height="364" class="col-md-12">
            </div>
        </div>
    </div>
</section>
<span class="scroll" id="about"></span>
<section class="white about">
    <div class="container pad0x">
        <div class="col-md-10 col-md-offset-1 pad0x">
            <h2>About healthsites.io</h2>

            <div class="hazard block">
                <div class="icon col-md-2"><img src="{% static "img/hazard.svg" %}"
                                                onerror="this.onerror=null; this.src='image.png'">
                </div>
                <div class="col-md-10 pad0x">
                    When a natural disaster or disease outbreak occurs there is a rush to establish accurate health care
                    location data that can be used to support people on the ground. This has been demonstrated by events
                    such as the Haiti earthquake and the Ebola epidemic in West Africa. As a result valuable time is
                    wasted establishing accurate and accessible baseline data.<br/>
                    Healthsites.io establishes this data and the tools necessary to upload, manage and make the data
                    easily accessible.
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="{% static "img/globe.svg" %}"
                                                onerror="this.onerror=null; this.src='image.png'">
                </div>
                <div class="col-md-8 pad0x">
                    <strong>Global scope</strong><br/>
                    The Global Healthsites Mapping Project is an initiative to create an online map of every health
                    facility in the world and make the details of each location easily accessible.
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="{% static "img/open-data.svg" %}"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Open data collaboration</strong><br/>
                    Through collaborations with users, trusted partners and OpenStreepMap we will capture and validate
                    the location and contact details of every facility and make this data freely available under an Open
                    Data License (ODBL)'
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="{% static "img/accessible.svg" %}"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Accessible</strong><br/>
                    We will make the data accessible over the Internet through and API and other formats such as
                    GeoJSON, Shape files, KML, CSV
                </div>
            </div>
            <div class="col-md-6 pad0x block">
                <div class="icon col-md-4"><img src="{% static "img/location.svg" %}"
                                                onerror="this.onerror=null; this.src='image.png'"></div>
                <div class="col-md-8 pad0x">
                    <strong>Focus on health care location data</strong><br/>
                    Our design philosophy is the long term curation and validation of health care location data. The
                    healthsites.io map will enable users to discover what healthcare facilities exist at any global
                    location and the associated services and resources.
                </div>
            </div>
        </div>
    </div>
</section>
<span class="scroll" id="cta"></span>
<section id="cta" class="navi">
    <div class="container-fluid pad0x">
        <div class="center col-md-3 pad0x">
            <div class="content">
                <div class="icon-holder"><i class="fa fa-cog"></i></div>
                <h3 class="col-md-12">Data model</h3>
                <span class="col-md-12 text">Each healthsite is stored as a geometry object in the database</span>
                <span class="col-md-12 links"><a
                        href="https://github.com/healthsites/healthsites/wiki/Healthsite-attributes" target="_blank">Healthsites
                    attributes</a> <a href="https://github.com/healthsites/healthsites/wiki/Healthsites-data-model"
                                      target="_blank">Data model</a></span>
            </div>
        </div>
        <div class="center col-md-3 pad0x">
            <div class="content">
                <div class="icon-holder"><i class="fa fa-map-marker"></i></div>
                <h3 class="col-md-12">Share healthsite data</h3>
                <span class="col-md-12 text">Contact us should you need assistance or share your data using our upload form</span>
                <span class="col-md-12 links"><a href="/upload-form">Upload form</a> <a href="/contact">Contact
                    us</a></span></div>
        </div>
        <div class="center col-md-3 pad0x">
            <div class="content">
                <div class="icon-holder"><i class="fa fa-pencil"></i></div>
                <h3 class="col-md-12">Developers</h3>
                <span class="col-md-12 text">We welcome new contributions to this project - see our github page for details.</span>
                <span class="col-md-12 links"><a href="https://github.com/healthsites/healthsites/" target="_blank">GitHub</a> <a
                        href="https://github.com/healthsites/healthsites/wiki/Healthsites-roadmap" target="_blank">Road
                    Map</a></span>
            </div>
        </div>
        <div class="center col-md-3 pad0x">
            <div class="content">
                <div class="icon-holder"><i class="fa fa-comments"></i></div>
                <h3 class="col-md-12">Chat live</h3>
                <span class="col-md-12 text">We've established a chatroom where we'll do our best to respond and share project knowledge.</span>
                <span class="col-md-12 links"><a href="https://gitter.im/healthsites/healthsites" target="_blank">Chat
                    space</a></span></div>
        </div>
    </div>
</section>
<span class="scroll" id="map-data"></span>
<section class="map-data">
    <div class="container-fluid pad0x">
        <div id="map-home" class="col-md-6 map">
            <div id="map" style="height: 100%">
            </div>
            <div class="select-country">
                <form id="country-form">
                    <input id="country-search-box" name="country" type="search" placeholder="type country name"/>
                    <button type="submit" value="Submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="col-md-6 country-data pad10x">
            <h2 class="col-md-12"><strong id="country-title">World</strong> - <span id="country-locality-number"
                                                                                    class="number">{{ locality_count }}</span>
                healthsites</h2>

            <div class="col-md-6">
                <h3>Number of heathsites per type</h3>

                <div class="graph">
                    <div id="chart1"></div>

                    <script>
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Completeness of attributes</h3>

                <div class="graph">
                    <div id="piechart"></div>


                </div>
            </div>
            <div class="col-md-12">
                <h3>Latest updates</h3>

                <div class="graph updates">
                    <div class="entry">
                        <span class="date">2015-10-14</span> <span class="time">17:23:15</span> - <span class="name"><a
                            href="#">@who</a></span> - <span class="location-name">Priory Hosp Glasgow</span>
                    </div>
                    <div class="entry">
                        <span class="date">2015-10-11</span> <span class="time">17:23:15</span> - <span class="name"><a
                            href="#">@sagovernment</a></span> - <span class="location-name">50 hs/added</span>
                    </div>
                    <div class="entry">
                        <span class="date">2015-10-09</span> <span class="time">17:23:15</span> - <span class="name"><a
                            href="#">@jimbob</a></span> - <span class="location-name">75 hs/added 20/amended </span>
                    </div>
                    <div class="entry">
                        <span class="date">2015-09-09</span> <span class="time">17:23:15</span> - <span class="name"><a
                            href="#">@arryedwards</a></span> - <span class="location-name">22 hs/added</span>
                    </div>
                    <div class="entry">
                        <span class="date">2015-08-14</span> <span class="time">17:23:15</span> - <span class="name"><a
                            href="#">@nev</a></span> - <span class="location-name">Accrington Victoria Hosp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="scroll" id="lifecycle"></span>
<section class="lifecycle">
    <div class="container">
        <h2>Healthsites data lifecycle</h2>

        <div class="main-img">
            <ul id="slider">
                <li><img src="{% static "img/step-1.png" %}"/></li>
                <li><img src="{% static "img/step-2.png" %}"/></li>
                <li><img src="{% static "img/step-3.png" %}"/></li>
                <li><img src="{% static "img/step-4.png" %}"/></li>
                <li><img src="{% static "img/step-5.png" %}"/></li>
                <li><img src="{% static "img/step-6.png" %}"/></li>
                <li><img src="{% static "img/step-7.png" %}"/></li>
                <li><img src="{% static "img/step-8.png" %}"/></li>
            </ul>
        </div>
        <div class="steps">

        </div>
    </div>
</section>
<span class="scroll" id="partners"></span>
<section class="partners">
    <div class="container">
        <h3>Partners</h3>
        <ul class="partners-list">
            <li><img src="{% static "img/hcid-logo.png" %}"/></li>
            <li><img src="{% static "img/icrc-logo.png" %}"/></li>
            <li><img src="{% static "img/ihf-logo.png" %}"/></li>
        </ul>
    </div>
</section>
<footer id="colophon">
    <div class="container">
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-1">
                <li><a href="https://github.com/healthsites/healthsites/wiki/Vision" target="_blank">Vision</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Participate"
                       target="_blank">Participate</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Healthsites-roadmap" target="_blank">Road
                    map</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-2">
                <li><a href="https://github.com/healthsites/healthsites/wiki/Data" target="_blank">Data</a></li>
                <li><a href="https://github.com/healthsites/healthsites" target="_blank">Source code</a></li>
                <li><a href="#">Map edit</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/Data-lifecycle" target="_blank">Data
                    lifecycle</a></li>
            </ul>
        </div>
        <div class="col-md-3 pad0x">
            <ul class="footer-nav-2">
                <li><a href="upload-form">Upload form</a></li>
                <li><a href="https://gitter.im/healthsites/healthsites" target="_blank">Chat space</a></li>
                <li><a href="https://github.com/healthsites/healthsites/wiki/API" target="_blank">API</a></li>
                <li><a href="https://github.com/healthsites/healthsites/" target="_blank">GitHub</a></li>
            </ul>
        </div>
        <div class="col-md-3 right pad0x">
            <ul class="footer-nav-2 social">
                <li><a href="https://twitter.com/sharehealthdata" target="_blank"><i
                        class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://www.facebook.com/healthsites.io" target="_blank"><i
                        class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/healthsites-io?trk=biz-companies-cym" target="_blank"><i
                        class="fa fa-linkedin-square"></i></a></li>
                <li><a href="https://plus.google.com/u/2/117257570769390062756" target="_blank"><i
                        class="fa fa-envelope-square"></i></a></li>
            </ul>
        </div>
        <div style="clear:both;"></div>
        <div class="copy">

        </div>
    </div>
    <div id="ribbon"><img class="share" src="static/img/ribbon.png" width="70" height="105" alt="now in beta"/></div>
</footer>

<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>#}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.7/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw-src.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/crossroads/0.12.2/crossroads.min.js"></script>


{% javascript 'project' %}
{% javascript 'home' %}
{% javascript 'map_app' %}

{% block extra_js %}
    <script>
        var chart = c3.generate({
            bindto: '#chart1',
            size: {
                height: 220
            },
            bar: {
                width: 18
            },
            data: {
                x: 'x',
                y: 'percent',
                columns: [
                    //the healthsites names
                    ['x', 'Hospitals', 'Medical clinic', 'Orthopaedic clinic'],
                    //the healthsites number
                    ['number', 0, 0, 0],
                    //the healthsites percentgage
                    ['percent', 0, 0, 0]
                ],
                axes: {
                    number: 'y2'
                },
                types: {
                    percent: 'bar',
                    number: 'bar'
                },
                order: 'asc',

                labels: {
                    format: {
                        number: function (v, id, i, j) {
                            return v;
                        },
                    }
                },


            },
            axis: {
                rotated: true,
                x: {
                    type: 'category',

                },
                y: {
                    max: 1,
                    tick: {
                        values: [0, 0.5, 1],
                        format: d3.format('%,')

                    }
                }
            },
            legend: {
                show: false
            },
            color: {
                pattern: ['#b6cccc', '#f89ea1']
            }
        });

        var piechart = c3.generate({
            bindto: '#piechart',
            size: {
                height: 220
            },
            data: {
                // iris data from R
                columns: [
                    ['complete', 0],
                    ['partial', 0],
                    ['basic', 0],
                ],
                colors: {
                    complete: '#f89ea1',
                    partial: '#b6cccc',
                    basic: '#8698a4'
                },
                type: 'pie',
                onclick: function (d, i) {
                    console.log("onclick", d, i);
                },
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                }
            }
        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var search_url = "{% url 'locality-name-search' %}";
        $(document).ready(function () {
            var map = new MAP();
            // set share url
            var baseURL = location.protocol + "//" + location.hostname+"/";
            $(".twitter-href").attr("href","https://twitter.com/intent/tweet?text=Share and develop critical health facility data on "+baseURL);
            $(".facebook-href").attr("href","https://www.facebook.com/sharer/sharer.php?u="+baseURL);
            $(".googleplus-href").attr("href","https://plus.google.com/share?url="+baseURL);

            function set_search_url(url, data_type) {
                $(function () {
                    $("#search-box").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: url,
                                dataType: data_type,
                                data: {
                                    q: request.term
                                },
                                success: function (data) {
                                    console.log(data);
                                    response(data);
                                }
                            });
                        },
                        minLength: 3,
                        select: function (event, ui) {
                            console.log(event);
                            console.log(ui);
                        },
                        open: function () {
                            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                        },
                        close: function () {
                            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                        }
                    });
                });
            }

            set_search_url(search_url);
            $('input:radio[name=option]').change(function () {
                // set text default for search box
                $("#search-box").val("");

                // set data for autocomplete
                if (this.value == 'place') {
                    search_url = 'http://gd.geobytes.com/AutoCompleteCity';
                    set_search_url(search_url, 'jsonp');

                } else if (this.value == 'healthsite') {
                    search_url = "{% url 'locality-name-search' %}";
                    set_search_url(search_url, 'json');
                } else {
                    search_url = "{% url 'locality-name-search' %}";
                    set_search_url(search_url, 'json');
                }
            });

            $('#slider').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true,
                fade: true,
                centerMode: true,
            });
            $("#country-search-box").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "{% url 'countries' %}",
                        dataType: 'json',
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            {# FOR UPDATING CHART #}
            function updateChart(hospital, medical, orthopedic) {
                var hospital_per = hospital / (hospital + medical + orthopedic);
                var medical_per = medical / (hospital + medical + orthopedic);
                var orthopedic_per = orthopedic / (hospital + medical + orthopedic);
                chart.load({
                    columns: [
                        //the healthsites names
                        ['x', 'Hospitals', 'Medical clinic', 'Orthopaedic clinic'],
                        //the healthsites number
                        ['number', hospital, medical, orthopedic],
                        //the healthsites percentgage
                        ['percent', hospital_per, medical_per, orthopedic_per]
                    ]
                });
            }

            function updatePieChart(basic, partial, complete) {
                piechart.load({
                    columns: [
                        ['complete', complete],
                        ['partial', partial],
                        ['basic', basic],
                    ],
                });
            }

            $("#country-form").submit(function (event) {
                var country = $("#country-form").find("#country-search-box")[0].value;
                event.preventDefault();
                gettingData(country);
            });

            {# first init #}
            gettingData("");

            function gettingData(country) {
                $.ajax({
                    url: "{% url 'locality-country-search' %}",
                    dataType: 'json',
                    data: {
                        q: country
                    },
                    success: function (data) {
                        map._updateGeoname(country);
                        {# default #}
                        $("#country-locality-number").html(0);
                        updateChart(0, 0, 0);

                        {# show the real data #}
                        {# country title #}
                        if (country == "") country = "World";
                        $("#country-title").html(country);

                        {# country healthsite number #}
                        if (data.localities) {
                            $("#country-locality-number").html(data.localities);
                        }
                        if (data.numbers) {
                            updateChart(data.numbers.hospital, data.numbers.medical_clinic, data.numbers.orthopaedic_clinic);
                        }
                        if (data.completeness) {
                            updatePieChart(data.completeness.basic, data.completeness.partial, data.completeness.complete);
                        }

                        {# set view port #}
                        if (data.viewport) {
                            var northeast_lat = parseFloat(data.viewport.northeast_lat);
                            var northeast_lng = parseFloat(data.viewport.northeast_lng);
                            var southwest_lat = parseFloat(data.viewport.southwest_lat);
                            var southwest_lng = parseFloat(data.viewport.southwest_lng);
                            if (southwest_lat != 0.0 && southwest_lng != 0.0 && northeast_lat != 0.0 && northeast_lng) {
                                map._setFitBound(southwest_lat, southwest_lng, northeast_lat, northeast_lng);
                            }
                        }
                        console.log(data);
                    }
                });
            }

            // initialize the app
            {#            new APP();#}
            // init map
            // We need different app for the home page. Adapt from the current app.
        });
    </script>
{% endblock extra_js %}

</body>
</html>
