{% extends 'base.html' %}

{% block title %}Healthsites{% endblock %}

{% block content %}

<nav class="navbar-custom navbar navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
  <img height="40px" class="pull-left" style="padding-top: 8px; padding-right: 8px;" src="/static/js/images/marker-icon.png"/>
  <span id="about" class="navbar-brand">
    HEALTHSITES.IO
    <div id="site-social">
      <i id="site-social-icon-open" class="mdi-social-share medium-size-icon"></i>
      <a href="https://twitter.com/intent/tweet?text=hello%20everyone,%20check%20this%20site%20out&url=http://healthsites.io/">
        <span class="socicon">a</span>
      </a>
      <i id="site-social-icon-close" class="mdi-content-clear"></i>
    </div>
  </span>
<!--
  <button id="new_locality" type="button" class="btn btn-default navbar-btn"
          data-mapclick-text="Click on the map"
          data-savelocality-text="Save Locality">Add a new Locality</button>
-->
  <div class="navbar-right">
  {% if user.is_authenticated %}
    <a id="profile" href="{% url 'userprofilepage' %}" class="custom-navbar-item"><i class="mdi-social-person"></i> {{ user.username }}</a>
    <a class="custom-navbar-item" href="{% url 'logout_user' %}"><i class="mdi-action-exit-to-app"></i> Logout</a>
  {% else %}
    <a id="signin" href="{% url 'usersignpage' %}" class="custom-navbar-item"><i class="mdi-action-exit-to-app"></i> Sign in</a>
  {% endif %}
  <a id="help-button" class="custom-navbar-item"
          data-toggle="modal"
          href="help"
          data-target="#help-modal"><i class="mdi-action-info-outline"></i> Help</a>
  </div>
</div>
</nav>
<div id="map"></div>

<div class="github-fork-ribbon-wrapper left-bottom">
  <div class="github-fork-ribbon">
      <a href="https://github.com/konektaz/healthsites">Fork me on GitHub</a>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog"
     aria-labelledby="about-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->


<!-- Help Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog"
     aria-labelledby="help-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
new APP();
$.material.init();
</script>
{% endblock %}
