Django>=1.8,<1.9
celery==4.0.2
dicttoxml==1.7.4
django-braces==1.11.0
django-envelope==1.2
django-forms-bootstrap==3.1.0
django-hashedfilenamestorage==1.0
django-model-utils<=2.3.1
django-pg-fts==0.1.1
django-pipeline>=1.4,<1.6
googlemaps==2.4.6
hurry.filesize==0.9
nodeenv==1.1.2
psycopg2==2.7.1
python-social-auth==0.2.19
pytz
raven==6.0.0
pyshp==1.2.11
